:root {
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.headerTitle {
  margin-top: 1em;
  margin-bottom: 1em;
}
.topLogo {
  width: 15%;
  height: auto;
  padding-right: 5px;
}
.hr2 {
  margin: 16px 0;
  border: 0;
  text-align: center;
}
.hr2:before {
  content: "~ ~ ~";
  font-size: 50px;
  color: #6e6e6e;
}

.hr1 {
  margin: 16px 0;
  border: 0;
  text-align: center;
}

.hr1:before {
  content: "• • •";
  font-size: 50px;
  color: #6e6e6e;
}
h1 {
  padding: 3px;
  font-weight: 900;
  text-align: center;
  font-size: 2em;
}
.title {
  color: #2a2a2a;
}
h2{
  font-size: 1.8em;
  transition: all 500ms;
}

.separationhr {
  display: none;
  visibility: hidden;
}
/* h2:hover{
  font-size: 35px;
  transition: all 500ms;
  text-shadow: 4px 4px #558ABB;

} */
p.subtitle{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2em;
  color: #1a1a1a;
  transition: all 1000ms;
}

/*
p.subtitle:hover{
  transition: all 500ms;
  text-shadow: 1px 1px #000000;
}*/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  position: relative;
  width: 600px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 30px;
}
.card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transition: all 1000ms;
}

.card:nth-child(2n) {
  margin-right: 0;
}

.card > img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  object-fit: cover;
}
.card:hover img {
  filter: blur(2px);
  transition: all 1000ms;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 1000ms;
  opacity: 0;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-overlay h3 {
  color: white;
  font-size: 1.4em;
  margin: 10px;
}

.card-overlay p {
  color: white;
  font-size: 1.1em;
  margin: 0 80px;
}

footer {
  background-color: #c4c4c4;
  color: #5d5d5d;
  border-radius: 8px;
  height: 130px;
  /* Height of the footer */
}

/* Center the text inside the footer */
footer p {
  text-align: center;
  position: relative;
  padding-top: 20px;
}

a{
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgba(36, 97, 159, 0.91);
}

a:hover {
  color: blue;
}

@media screen and (max-width : 980px) {
  p.subtitle{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
  }

  .separationhr {
    visibility: hidden;
  }
  .card {
    margin: 1px;
  }
  .card-overlay p {
    margin: 0 10px;
  }
}

@media screen and (max-width : 500px) {
  p.subtitle{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
  }

  footer{
    margin-top: 20px;
  }
  .card {
    margin: 1px;
    overflow: visible;
    /* height: 600px; */
  }
  .card-overlay {
    opacity: 100%;
    margin-top: 300px;
    /* margin-top: 300px; */
  }
  .card > img {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    height: 300px;
    display: block;
    padding-bottom: 300px;
    /* object-fit: cover; */
  }
}

@media screen and (max-width : 500px) {
  p.subtitle{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;

  }
  .card {
    margin: 1px;
    overflow: visible;
    /* height: 600px; */
  }
  .card-overlay {
    height: 50%;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
    opacity: 100%;
    margin-top: 300px;
    background-color: white;
    /* margin-top: 300px; */
  }
  .card-overlay p {
    color: black;
  }
  .card-overlay h3 {
    color: black;
  }
  .separationhr {
    visibility: hidden;
    display: block;
  }
  .card > img {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    height: 300px;
    display: block;
    padding-bottom: 300px;
    border-radius: 5px;
    object-fit: contain;
    /* object-fit: cover; */
  }
}



.team {
  position: absolute;
  width: 5000px;
  background: white;
  visibility: hidden;
}
/* Add a black background color to the footer */


